<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AppBuildy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta content="AppBuildy — build mobile apps without code" property="og:title">
    <meta content="Visually create, customize, and launch mobile apps without code" property="og:description">
    <meta name="description" content="Visually create, customize, and launch mobile apps without code">
    <meta content="website" property="og:type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.png">
    <meta property="og:image" content="images/dest/preview.jpg">

    <link rel="preload" href="../fonts/Inter-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="../fonts/Inter-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="../fonts/Inter-Bold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="../fonts/Inter-Black.woff2" as="font" crossorigin="anonymous">
    <%= yield :extra_stylesheets %>

    <%= stylesheet_link_tag 'application' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178992292-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-178992292-1');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function(m, e, t, r, i, k, a) {
        m[i] = m[i] || function() {
          (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
      })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(67635220, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
      });
    </script>
    <noscript>
      <div><img src="https://mc.yandex.ru/watch/67635220" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

    <script>
      ! function() {
        var analytics = window.analytics = window.analytics || [];
        if (!analytics.initialize)
          if (analytics.invoked) window.console && console.error && console.error("Segment snippet included twice.");
          else {
            analytics.invoked = !0;
            analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "debug", "page", "once", "off", "on", "addSourceMiddleware", "addIntegrationMiddleware",
              "setAnonymousId", "addDestinationMiddleware"
            ];
            analytics.factory = function(e) {
              return function() {
                var t = Array.prototype.slice.call(arguments);
                t.unshift(e);
                analytics.push(t);
                return analytics
              }
            };
            for (var e = 0; e < analytics.methods.length; e++) {
              var key = analytics.methods[e];
              analytics[key] = analytics.factory(key)
            }
            analytics.load = function(key, e) {
              var t = document.createElement("script");
              t.type = "text/javascript";
              t.async = !0;
              t.src = "https://cdn.segment.com/analytics.js/v1/" + key + "/analytics.min.js";
              var n = document.getElementsByTagName("script")[0];
              n.parentNode.insertBefore(t, n);
              analytics._loadOptions = e
            };
            analytics.SNIPPET_VERSION = "4.13.1";
            analytics.load("kr5OQ8YG9BOzzdqulUtigwAOVr2XRPGi");
            analytics.page();
          }
      }();
    </script>

    <!-- Begin of Chaport Live Chat code -->
    <script type="text/javascript">
      (function(w, d, v3) {
        w.chaportConfig = {
          appId: '5f6ceb5396c6b40369121e0f'
        };

        if (w.chaport) return;
        v3 = w.chaport = {};
        v3._q = [];
        v3._l = {};
        v3.q = function() {
          v3._q.push(arguments)
        };
        v3.on = function(e, fn) {
          if (!v3._l[e]) v3._l[e] = [];
          v3._l[e].push(fn)
        };
        var s = d.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://app.chaport.com/javascripts/insert.js';
        var ss = d.getElementsByTagName('script')[0];
        ss.parentNode.insertBefore(s, ss)
      })(window, document);
    </script>
    <!-- End of Chaport Live Chat code -->
  </head>

  <body>
    <% if params[:enable_login] == 'true' %>
      <fb:login-button
      scope="public_profile,email"
      onlogin="checkLoginState();">
      </fb:login-button>
      <script
         src="https://code.jquery.com/jquery-3.5.1.min.js"
         integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
         crossorigin="anonymous"></script>
    <% end %>

    <%= yield %>

    <%= yield :extra_scripts %>

  </body>

  <% if params[:enable_login] == 'true' %>
    <%= render 'layouts/facebook_script' %>
  <% end %>
</html>
